.main {
    background-color: #DEDEDE;
}

.btn-rounded-0 {
    border-radius: 0;
}

.sidebar-buttons .btn:last-child {
    border-bottom: none !important;
}

.sidebar-buttons .btn {
    border-bottom: none !important;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
