.resizable-window {
    position: absolute;
    background-color: #fff;
    border-radius: 0.65rem;
    min-width: 20rem;
    min-height: 23.5rem;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .65rem .65rem .3rem .65rem;
    background-color: var(--bs-secondary);
    border-top-left-radius: 0.65rem;
    border-top-right-radius: 0.65rem;
    cursor: grab;
}

    .window-header h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
        text-align: center; /* Center the title */
        flex-grow: 1; /* Take remaining space */
    }

.window-title{
    max-width: 80%;
}

.window-controls {
    display: flex;
    gap: 0.5rem;
    align-self: start;
    max-width: 20%;
}

    .window-controls button {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }

    .window-controls .minimize {
        background-color: #f3c935;
    }

    .window-controls .maximize {
        background-color: #37c648;
    }

    .window-controls .close {
        background-color: #d63737;
    }

.window-content {
    padding: 1rem;
}

.resizable-window.draggable {
    cursor: grabbing;
}

.resizable-window.resizing {
    cursor: nwse-resize;
}

    .resizable-window.resizing .window-content {
        pointer-events: none;
    }

