.main {
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 767px) {
    .main {
        background-image: url("../../public/main.png");
        background-size: cover;
    }
}

@media (min-width: 768px) {
    .main {
        background-image: url("../../public/main-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

.profile-gravatar {
    background-image: url(../../public/default-avatar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    content: "";
}

.col-md-1{
    width: 6.333333333% !important;
}

.col-md-11 {
    width: 93.66666667% !important;
}