$primary: #4C5166; // Sidebar color
$secondary: #8EAAB7; // Main page color
$success: #28a745; // Bootstrap success color
$info: #17a2b8; // Bootstrap info color
$warning: #ffc107; // Bootstrap warning color
$danger: #dc3545; // Bootstrap danger color
$light: #f7f8f8; // Message color
$dark: darken($primary, 20%); // Dark color for elements

$theme-colors: ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark );

@import '~bootstrap/scss/bootstrap';

// Custom styles
// ...
